<h2 class="title">Front-End Topics</h2>

<div *ngIf="sections$ | async as sections; else loading" class="grid">

  <div
    *ngFor="let s of sections"
    class="card"
    (click)="start(s.name)"
  >

    <div class="card-content">

      <h3>{{ s.name }}</h3>

      <p class="question-count">
        {{ s.total }} Questions
      </p>

      <p class="start-text">
        Start Quiz →
      </p>

    </div>

  </div>

</div>

<!-- ✅ TOTAL QUESTIONS -->
<div class="overall-count">
<strong>Total Questions Available: </strong>
  <span class="totalq">{{ totalQuestions }}</span>

</div>

<ng-template #loading>
  <p class="loading">Loading sections...</p>
</ng-template>